/* Custom Css*/
a, a:hover, a:focus {
    text-decoration: none;
}
.mtb60 {
    margin: 60px 0;
}
.mtb30 {
    margin: 30px 0;
}
li.developby {
    text-align: center;
    margin-bottom: 20px;
}
li.developby a {
    display: inline-block;
    padding: 10px 0;
}
.sidebar ul.nav li.developby a:hover {
    background: transparent;
}
.items {
    margin-top: 60px;
    border-top: 1px solid #eee;
}
ul.nav.menu {
    margin-top: 20px;
}
.error {
    color: brown;
    text-align: center;
    display: block;
}
.success {
    color: darkgreen;
    text-align: center;
    display: block;
}
.table .ticon {
    width: 6%;
    height: 22%;;
    margin-right: 10px;
    color: #000;
}
.table .ticong {
    width: 6%;
    height: 22%;;
    margin-right: 10px;
    color: darkgreen;
}
.table .ticonr {
    width: 6%;
    height: 22%;;
    margin-right: 10px;
    color: brown;
}
.dispb {
    display: block;
}
.field-hidden {
    display: none;
}